.users-container{
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.topbar{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.search-box{
    padding: 8px;
    width: 300px;
    border-radius: 10px;
    border: 1 px solid black;
}
.add-usebtn{
    padding: 10px 15px;
    background-color: #28a745;
    color: white;
    border-radius: 10px;
    border:none;
    cursor: pointer;
    transition: background-color 0.3s;

}
.add-usebtn:hover{
    background-color: #218838;
}
.user-table{
    width: 100%;
    border-collapse: collapse;

}
.user-table th ,.user-table td{
    padding: 10px;
    border: 1px solid #ddd;
text-align: left;
}
.modal-overlay{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal{
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    width: 400px;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.2);
}
.modal h3{
    margin-top: 0;
    font-size: 1.2em;
    color: #333;
}
.user-form{
    display: flex;
    flex-direction: column;
}
.user-form label{
    margin-top: 10px;
    font-weight: bold;
}
.user-form input[type="text"],
.user-form input[type="email"],
.user-form input[type="number"]{
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 10px;
}
.modal-btn{
    display: flex;
    justify-content: flex-end;
    margin-top: 15px;
}
.savebtn{
    padding: 8px;
    margin-right: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;

}
.savebtn:hover{
    background-color: #0056b3;
}
.cancelbtn{
    padding: 8px;
    margin-right: 10px;
    background-color:#dc3545;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.cancelbtn:hover{
    background-color:#c82333 ;
}